* {
    font-family: Montserrat, Arial;
}

html {
    background-color: #fcf8db;
    color: #0e1f62;
}

.top-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

h1 {
    font-size: 4rem;
    margin: 10px 0;
}

#pokemon-logo {
    max-width: 700px;
    width: 90%;
    height: auto;
    animation: transitionIn 3s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-15deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.top-content p {
    font-size: 2rem;
    margin: 0 20px 30px 20px;
    text-align: center;
}

form {
    width: 70%;
    display: flex;
}

#name-search {
    box-sizing: border-box;
    width: 100%;
    color: #0e1f62;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    padding: 10px 20px;
    border: thick double #ffcd02;
    border-radius: 3px;
    outline-color: #2a71ff;
}

button {
    width: 25%;
    font-size: 1.5rem;
    color: #0e1f62;
    font-weight: 500;
    border: thick double #ffcd02;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.6);
}

button:hover {
    background-color: #2a71ff;
    border: thick solid #0e1f62;
    cursor: pointer;
    color: #ffcd02;
}

#cute-pokemons {
    width: 80%;
    max-width: 700px;
    height: auto;
    margin: 20px 0;
}


/*-------------POKEMON INFO SECTION-------------*/

.pokemon-info {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 50px 50px 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
}

h2 {
    font-size: 3rem;
    margin-bottom: 0;
}

#searched-pokemon-img img {
    width: 150px;
    height: auto;
    margin-bottom: -45px;
    position: relative; /*This makes the image render in front of the grass*/
}

#grass-img {
    width: 170px;
    height: auto;
    padding-right: 10px;
}

h3 {
    font-size: 2rem;
}

.searched-pokemon-info {
    font-size: 1.5rem;
}

#searched-pokemon-abilities {
    text-align: center;
}

.pokemon-info ul {
    margin: 0 0 20px 0;
}

.pokemon-info li {
    list-style-image: url(images/pokeball_pixel.png);
    padding-left: 10px;
}

#not_found {
    display: none;
    font-size: 3rem;
    text-align: center;
}

/*-------------MEDIA QUERY-------------*/

@media screen and (max-width: 800px) {
    form {
        display: block;
    }

    #name-search {
        text-align: center;
    }

    button {
        width: 100%;
        padding: 15px 0;
    }

    h2 {
        font-size: 2rem;
    }
}